<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registros
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/show">
        <ion-icon slot="start" name="add"></ion-icon>
    
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registros</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-list>

  <ion-item-sliding  *ngFor=" let registro of registros ">
    <ion-item lines="insert" button [routerLink]="['/show',registro.id]">
      <ion-label>{{ registro.nombre }}</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="removeCrud()">Ver</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
